.containerPrincipal{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid blue;
        padding:40px;
        background-color: white;
}
.containerSecundario {
    text-align: center;
}

small {
    color :red
}


.formSignin{
    margin-left: 10%;
    margin-top: 10%;
}
.dockerPrincipal{
    width: 45%;
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid blue;
    padding:40px;
    background-color: white;
}

.dockerOption{
    position: absolute;
    left: 10%;
    top: 20%;
    border: 1px solid blue;
    padding:40px;
    background-color: white;
}