.cajaInfo{
    margin-top: 10%;
    margin-left: 25%;
    border: 1px solid black;
    height: 390px;
    background-color: whitesmoke;
}

.trabajadorTitulo{
    position: absolute;
    top: 1%;
    right: -10%;
}

.botonDelete{
    margin-left: 100px;
    width: 60%;
    background-color: white;

}

.textDecrip{
    border: 1px solid black;
    height: 150px;
    background-color: white;
}

.showAnuncios{
    position: absolute;
    left: 25%;
    top: 150px;
    height: 40px;
    background-color: white;
}